<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_md-4 tui-col_lg-4">
      <form [formGroup]="form" (ngSubmit)="login()">
        <tui-input
          name="email"
          class="b-form tui-space_bottom-3"
          formControlName="email"
        >
          Type an email
        </tui-input>
        <tui-input-password formControlName="password" tuiTextfieldSize="s">
          Type a password
        </tui-input-password>
        <button tuiButton type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
