<tui-loader [overlay]="true" [showLoader]="!loaded">
  <table
    *tuiLet="data$ | async as data"
    tuiTable
    class="table"
    [columns]="columns"
    (directionChange)="direction$.next($event)"
  >
    <thead>
      <tr tuiThGroup>
        <th tuiTh [resizable]="true">Название</th>
        <th *tuiHead="'number'" [sticky]="true" tuiTh>Номер</th>
        <th *tuiHead="'id'" [sticky]="true" tuiTh>id</th>
        <th *tuiHead="'shoot_place_uuid'" tuiTh>ID Съемки</th>
        <th *tuiHead="'actions'" tuiTh>Действие</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="data">
      <tr *tuiRow="let item of data" tuiTr>
        <td *tuiCell="'name'" tuiTd>
          {{ item.name }}
        </td>
        <td *tuiCell="'number'" tuiTd>
          {{ item.number }}
        </td>
        <td *tuiCell="'id'" [size]="s" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'shoot_place_uuid'" [size]="s" tuiTd>
          {{ item.shoot_place_uuid }}
        </td>

        <td *tuiCell="'actions'" tuiTd>
          <button
            tuiIconButton
            class="remove"
            appearance="flat"
            size="s"
            icon="tuiIconTrash"
            title="Remove"
            shape="rounded"
            (click)="removeItem.emit(item.id)"
          ></button>
          <button
            tuiIconButton
            class="edit"
            appearance="flat"
            size="s"
            icon="tuiIconEdit"
            title="Edit"
            shape="rounded"
            (click)="navToEdit.emit(item.id)"
          ></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-table-pagination
            class="tui-space_top-2"
            [total]="total$ | async"
            (pageChange)="onPage($event)"
            (sizeChange)="onSize($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
