<mat-tab-group class="video-tabs" *ngIf="video">
  <ng-container *ngFor="let tab of contentTabs">
    <mat-tab [label]="tab.name">
      <div class="content">
        <div class="video">
          <video
            controls="controls"
            width="350"
            *ngIf="form.value[tab.slug + '_video']"
            height="300"
            [src]="
              form.value[tab.slug + '_video'].video ||
                form.value[tab.slug + '_video'] | safeUrl
            "
          ></video>
          <div
            *ngIf="!form.value[tab.slug + '_video']"
            class="video-placeholder"
          ></div>
          <app-button (clicked)="uploadVideo($event, tab.slug)"></app-button>
        </div>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>
