.video-tabs {
  border: .0625rem solid #e4e9f2;
  border-radius: .25rem;
  background-color: #fff;
  margin-top: 16px;
  padding: 16px;
  .content {
    display: flex;
  }

  .video {
    display: flex;
    flex-direction: column;

    .video-placeholder {
      width: 300px;
      height: 200px;
      background: #000;
      margin: 16px;
    }
  }
}
