.content {
  display: flex;
  margin-top: 16px;
  box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  padding: 16px;
  min-height: 300px;
}

.content-tabs {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  span {
    padding: 0 16px;
    cursor: pointer;
  }
}

.audio-item_data {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  &.empty {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
  }
}

.audio-item_name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.audio-item_player {
  background-color: #f5f3f3;
}

.language-tabs {
  background: #fff;
  border: .0625rem solid #e4e9f2;
  border-radius: .25rem;
  padding: 16px;
  margin: 16px 0;
  .language-tab {
    display: flex;
    flex-direction: column;
    padding: 8px;
 
    .audio-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .tab-header {
      margin-bottom: 16px;
      font-weight: 500;
    }
  }
}
