<form [formGroup]="form">
  <mat-tab-group
    class="language-tabs"
    formGroupName="translations"
    (selectedTabChange)="switchTab($event)"
  >
    <ng-container *ngFor="let languageTab of languageTabs">
      <mat-tab
        [label]="languageTab.label"
        [formGroupName]="languageTab.language"
      >
        <div class="language-tab">
          <ng-container *ngFor="let audioItem of audioItems">
            <div
              class="audio-item"
              *ngIf="
                translations.value[languageTab.language][audioItem.slug];
                else addAudio
              "
            >
              <div class="audio-item_data">
                <div class="audio-item_name">{{ audioItem.name }}</div>
                <audio controls class="audio-item_player">
                  <source
                    [src]="
                      translations.value[languageTab.language][audioItem.slug]
                    "
                  />
                </audio>
              </div>
              <button
                (click)="removeAudio(audioItem.slug)"
                class="btn btn-sm mt-3"
                mat-flat-button
                color="warn"
              >
                <tui-svg class="icon" src="tuiIconTrash"></tui-svg>
                <!-- <fa-icon [icon]="faTrash"></fa-icon> -->
              </button>
            </div>
            <ng-template #addAudio>
              <div class="audio-item_data empty">
                <div class="audio-item_name">{{ audioItem.name }}</div>
                <button
                  (click)="fileInput.click()"
                  class="btn btn-sm mt-3"
                  mat-flat-button
                  color="primary"
                >
                  <tui-svg class="icon" src="tuiIconPlus"></tui-svg>
                </button>

                <input
                  type="file"
                  hidden
                  #fileInput
                  (change)="uploadAudio($event, audioItem.slug)"
                />
              </div>
            </ng-template>
          </ng-container>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</form>
