:host {
  width: 100%;
  max-width: 600px;
  // @include shadow(1);
}
.image-upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    border-radius: 15px;
  }
}
.details-wrap {
  background: #fff;
  justify-content: center;
  padding: 16px;
  margin: 16px;
  border: 0.0625rem solid #e4e9f2;
  border-radius: 0.25rem;
  // box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
  form {
    display: flex;
    flex-direction: column;
  }
}
