<div class="details-wrap">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Номер</mat-label>
      <input matInput formControlName="number" type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Точка</mat-label>
      <mat-select formControlName="point_id">
        <mat-option *ngFor="let point of points" [value]="point.id">
          {{ point.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Съемка</mat-label>
      <mat-select formControlName="shoot_place_uuid">
        <mat-option
          *ngFor="let shootPlace of shootPlaces"
          [value]="shootPlace.uuid"
        >
          {{ shootPlace.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #nameAndComment>
      <mat-form-field>
        <mat-label>Название</mat-label>
        <input matInput formControlName="name" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Комментарий</mat-label>
        <input
          matInput
          formControlName="description"
          type="text"
        /> </mat-form-field
    ></ng-template>

    <ng-container formGroupName="translations">
      <ng-container
        [formGroupName]="currentLanguage$ | async"
        *ngIf="(currentLanguage$ | async) === 'ru'"
      >
        <mat-form-field>
          <mat-label>Название</mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Комментарий</mat-label>
          <input matInput formControlName="description" type="text" />
        </mat-form-field>
      </ng-container>

      <ng-container
        [formGroupName]="currentLanguage$ | async"
        *ngIf="(currentLanguage$ | async) === 'en'"
      >
        <mat-form-field>
          <mat-label>Название</mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Комментарий</mat-label>
          <input matInput formControlName="description" type="text" />
        </mat-form-field>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="parameters">
      <ng-template #create>
        <ng-container
          formArrayName="param_options"
          *ngFor="let parameter of parameters; let i = index"
        >
          <ng-container [formGroupName]="i">
            <input type="text" [hidden]="true" formControlName="param_id" />
            <mat-form-field>
              <mat-label>{{ parameter.name }}</mat-label>
              <mat-select formControlName="option_id">
                <mat-option
                  *ngFor="let option of parameter.options"
                  [value]="option.uuid"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-template>

      <ng-container *ngIf="hasParameters; else create">
        <ng-container
          formArrayName="param_options"
          *ngFor="let parameter of parameterControls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <input type="text" [hidden]="true" formControlName="param_id" />
            <mat-form-field>
              <mat-label>{{ parameter.value.param_name }}</mat-label>
              <mat-select formControlName="option_id">
                <mat-option> </mat-option>
                <mat-option
                  *ngFor="
                    let option of getParamOptions(parameter.value.param_id)
                      .options
                  "
                  [value]="option.uuid"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </form>
</div>
