<div fxLayout="column">
  <workout-cms-exercise-videos [form]="form"></workout-cms-exercise-videos>
  <workout-cms-exercise-audio [form]="form"></workout-cms-exercise-audio>
</div>
<workout-cms-exercise-details
  [form]="form"
  [points]="pointTree$ | async"
  [shootPlaces]="shootPlaces$ | async"
  [parameters]="parameters$ | async"
>
</workout-cms-exercise-details>
