<div class="d-flex" *ngIf="form && !(isLoading | async)">
  <workout-cms-exercises-form></workout-cms-exercises-form>
</div>

<button mat-raised-button color="primary" class="mb-3" (click)="save()">
  Сохранить
</button>
