<nav>
  <ul>
    <li>
      <a class="nav-item" routerLinkActive="active" routerLink="/exercises">
        <tui-svg class="icon" src="tuiIconFlagLarge"></tui-svg>
        <span>Упражнения</span></a
      >
    </li>
    <li>
      <a class="nav-item" routerLinkActive="active" routerLink="/transitions">
        <tui-svg class="icon" src="tuiIconUndoLarge"></tui-svg>
        <span>Переходы</span></a
      >
    </li>
    <li>
      <a
        class="nav-item"
        routerLinkActive="active"
        (click)="logout.emit($event)"
      >
        <tui-svg class="icon" src="tuiIconLikeLarge"></tui-svg>
        <span>Выйти</span></a
      >
    </li>
  </ul>
</nav>
