:host {
  width: 130px;
  min-height: 100vh;
  background: #314692;
}
@mixin active {
  background: #19359a;
  border-radius: 10px;
  transition: 0.4s;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 16px;
  margin: 8px;
  span {
    padding-top: 8px;
  }

  &:hover {
    @include active;
  }
  &.active {
    @include active;
  }
}
