<tui-root>
  <div class="d-flex h-100">
    <workout-cms-navigation
      *ngIf="isAuthenticated$ | async"
      (logout)="logout()"
    ></workout-cms-navigation>
    <div class="d-flex flex-column w-100 h-100">
      <workout-cms-toolbar
        (searchQuery)="search($event)"
        *ngIf="(isAuthenticated$ | async) && showSearchBar"
      ></workout-cms-toolbar>
      <div class="tui-container tui-container_adaptive">
        <div class="tui-row tui-row_adaptive">
          <div
            class="tui-col_xs-12 tui-col_s-1 tui-col_sm-1 tui-col_md-12 tui-col_lg-12"
          >
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</tui-root>
